#requirements.txt
boto3
csv
datetime
pandas
azure.identity
azure.mgmt.compute
azure.mgmt.monitor 
json
requests
re
difflib
google.cloud
google.oauth2
sklearn.preprocessing
os
streamlit 
numpy
random
matplotlib
plotly
